<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hola</title>

    <% if (locals.usuario) { %>

    <style>
      body {
        transition: all 0.3s;
        background-color: <%=usuario.color%>;
      }
    </style>
  </head>
  <body>
    <h1 style="color: white"><%= usuario.nombre%> Gracias por Visitarnos</h1>
  </body>
  <% } %>
</html>
